
# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
**/yarn.lock
**/package-lock.json

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore

# Jest
.jest/
android/.settings/org.eclipse.buildship.core.prefs
examples/purchaseTester/android/.settings/org.eclipse.buildship.core.prefs
examples/MagicWeather/android/.settings/org.eclipse.buildship.core.prefs
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties
.vscode/launch.json
.vscode/settings.json
android/.classpath
**/*.project
examples/purchaseTester/.vscode/launch.json
examples/purchaseTester/.vscode/settings.json
examples/purchaseTester/android/app/.classpath
examples/purchaseTester/android/app/.project
examples/purchaseTester/android/app/.settings/org.eclipse.buildship.core.prefs
examples/purchaseTester/.vscode/

# Cocoapods
#
examples/purchaseTester/ios/Pods
examples/purchaseTester/ios/test_output
**.Podfile.lock

# Backups
*.bck

# fastlane
report.xml
