version: 2.1
orbs:
  rn: react-native-community/react-native@6.1.0
commands:

jobs:
  analyse_js:
    executor:
      name: rn/linux_js
      node_version: '12'
    steps:
      - checkout
      - rn/yarn_install:
          yarn_install_directory: examples/purchaseTester
          cache_folder: ~/.cache/yarn
      - rn/yarn_install:
          yarn_install_directory: examples/purchaseTesterTypescript
          cache_folder: ~/.cache/yarn
      - run:
          name: Yarn Install
          command: yarn install --non-interactive --cache-folder /tmp/yarn
      - run:
          name: Tests
          command: yarn test
      - run:
          name: Linter
          command: yarn run tslint
  android:
    executor: rn/linux_android
    steps:
      - checkout
      - rn/yarn_install:
          yarn_install_directory: examples/purchaseTester
          cache_folder: ~/.cache/yarn
      - rn/yarn_install:
          yarn_install_directory: examples/purchaseTesterTypescript
          cache_folder: ~/.cache/yarn
      - rn/android_build:
          project_path: examples/purchaseTesterTypescript/android
  ios:
    executor:
      name: rn/macos
      xcode_version: 12.5.0
    steps:
      - checkout
      - rn/ios_simulator_start:
          device: iPhone 11 Pro
      - rn/yarn_install:
          yarn_install_directory: examples/purchaseTester
          cache_folder: ~/.cache/yarn
      - rn/yarn_install:
          yarn_install_directory: examples/purchaseTesterTypescript
          cache_folder: ~/.cache/yarn
      - rn/pod_install:
          pod_install_directory: examples/purchaseTester/ios
      - rn/pod_install:
          pod_install_directory: examples/purchaseTesterTypescript/ios
      - rn/ios_build:
          build_configuration: Release
          device: iPhone 11 Pro
          derived_data_path: ~/DerivedData
          project_type: workspace
          project_path: examples/purchaseTesterTypescript/ios/PurchaseTester.xcworkspace
          scheme: PurchaseTester

workflows:
  test:
    jobs:
      - analyse_js
      - android
      - ios
