version: 2.1
orbs:
  rn: react-native-community/react-native@8.0.1
  revenuecat: revenuecat/sdks-common-config@2.2.0

aliases:
  release-tags: &release-tags
    filters:
      tags:
        ignore: /^.*-SNAPSHOT/
      branches:
        ignore: /.*/
  release-branches: &release-branches
    filters:
      tags:
        ignore: /.*/
      branches:
        only: /^release\/.*/
  only-main-branch: &only-main-branch
    filters:
      tags:
        ignore: /.*/
      branches:
        only: main
  base-mac-job: &base-mac-job
    executor:
      name: rn/macos
      resource_class: m4pro.medium
      xcode_version: '15.4'
  base-mac-job-xcode-16: &base-mac-job-xcode-16
    executor:
      name: rn/macos
      resource_class: m4pro.medium
      xcode_version: '16.4'

parameters:
  action:
    type: enum
    enum: [build, upgrade-hybrid-common, bump]
    default: build
  version:
    type: string
    default: ''
  automatic:
    type: boolean
    default: false

commands:
  # rn/ios_build depends on a specific cache key, so we need to create a custom step to install dependencies
  # we could use rn/yarn_install but that's not compatible with yarn 2
  install-dependencies-ios-build:
    steps:
      - run:
          name: Create cache checksum file
          command: |
            mkdir -p ~/.tmp/checksumfiles
            find . -type f -name 'package.json' -not -path "*node_modules*" -exec cat {} + >> ~/.tmp/checksumfiles/package.json
            find . -type f -name 'yarn.lock' -not -path "*node_modules*" -exec cat {} + >> ~/.tmp/checksumfiles/yarn.lock
      - restore_cache:
          keys:
            - yarn-cache-{{ arch }}-{{ checksum "~/.tmp/checksumfiles/package.json" }}-{{ checksum "~/.tmp/checksumfiles/yarn.lock" }}-{{ .Environment.CACHE_VERSION }}
      - run:
          name: Yarn Install
          command: yarn
      - save_cache:
          key: yarn-cache-{{ arch }}-{{ checksum "~/.tmp/checksumfiles/package.json" }}-{{ checksum "~/.tmp/checksumfiles/yarn.lock" }}-{{ .Environment.CACHE_VERSION }}
          paths:
            - .yarn/cache

  install-dependencies:
    parameters:
      machine:
        type: string
    steps:
      - restore_cache:
          keys:
            - yarn-v2-<<parameters.machine>>-{{ checksum "yarn.lock" }}
      - run:
          name: Yarn Install
          command: yarn
      - save_cache:
          key: yarn-v2-<<parameters.machine>>-{{ checksum "yarn.lock" }}
          paths:
            - .yarn/cache

  copy-npm-rc:
    steps:
      - run:
          name: Copy npmrc sample file to final location
          command: cp .npmrc.SAMPLE .npmrc

  install-ruby-3-2-0:
    steps:
      - run:
          name: Set Ruby 3.2.0
          command: |
            eval "$(rbenv init -)"
            rbenv install -s 3.2.0
            rbenv global 3.2.0
            rbenv rehash

jobs:
  analyse_js:
    executor:
      name: rn/linux_js
      node_version: '18.2'
    steps:
      - checkout
      - install-dependencies:
          machine: "unix"
      - run:
          name: Prepare package
          command: yarn prepare
      - run:
          name: Prepare UI package
          working_directory: react-native-purchases-ui
          command: yarn prepare
      - run:
          name: Tests
          command: yarn test
      - run:
          name: API Tests
          command: yarn tsc -p apitesters
      - run:
          name: UI API Tests
          command: yarn workspace react-native-purchases-ui apitest
      - run:
          name: UI Tests
          command: yarn workspace react-native-purchases-ui test
      - run:
          name: Linter
          command: yarn run tslint

  expo_ios:
    <<: *base-mac-job-xcode-16
    steps:
      - checkout
      - rn/ios_simulator_start:
          device: iPhone 16
      - install-dependencies-ios-build
      - run:
          name: Install Expo CLI
          command: npm install -g expo-cli
      - run:
          name: Prepare packages for Expo
          command: yarn prepare-expo
      - run:
          name: Install dependencies for Expo app
          working_directory: examples/purchaseTesterExpo
          command: yarn install
      - run:
          name: Generate iOS project
          working_directory: examples/purchaseTesterExpo
          command: npx expo prebuild --platform ios --no-install
      - revenuecat/install-gem-mac-dependencies:
          cache-version: expo-v2
          working_directory: examples/purchaseTesterExpo
      - rn/pod_install:
          cache: false
          pod_install_directory: examples/purchaseTesterExpo/ios
          pod_install_command: pod install --repo-update
      - run:
          name: Build iOS Expo app
          working_directory: examples/purchaseTesterExpo
          command: |
            xcodebuild -workspace ios/purchaseTesterExpo.xcworkspace -scheme purchaseTesterExpo -configuration Debug -destination 'platform=iOS Simulator,name=iPhone 16' -derivedDataPath ~/DerivedData -UseModernBuildSystem=YES

  expo_android:
    executor:
      name: rn/linux_android
      resource_class: xlarge
      build_image_version: latest
    steps:
      - checkout
      - install-dependencies:
          machine: "unix"
      - run:
          name: Install Expo CLI
          command: npm install -g expo-cli
      - run:
          name: Prepare packages for Expo
          command: yarn prepare-expo
      - run:
          name: Install dependencies for Expo app
          working_directory: examples/purchaseTesterExpo
          command: yarn install
      - run:
          name: Prebuild Android Expo app
          working_directory: examples/purchaseTesterExpo
          command: |
            npx expo prebuild --platform android --no-install
      - run:
          name: Build Android Expo app
          working_directory: examples/purchaseTesterExpo/android
          command: |
            export GRADLE_OPTS="-Xmx4096m -Dorg.gradle.daemon=false -Dorg.gradle.jvmargs=\"-Xmx4096m\""
            ./gradlew assembleDebug

  expo_web:
    executor:
      name: rn/linux_js
      node_version: '22.14.0'
    steps:
      - checkout
      - install-dependencies:
          machine: "unix"
      - run:
          name: Install Expo CLI
          command: npm install -g expo-cli
      - run:
          name: Prepare packages for Expo
          command: yarn prepare-expo
      - run:
          name: Install dependencies for Expo app
          working_directory: examples/purchaseTesterExpo
          command: yarn install
      - run:
          name: Build Web Expo app
          working_directory: examples/purchaseTesterExpo
          command: |
            npx expo export --platform web
  docs-deploy:
    <<: *base-mac-job
    steps:
      - checkout
      - install-ruby-3-2-0
      - install-dependencies:
          machine: "macos"
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v2
      - revenuecat/setup-git-credentials
      - run:
          name: Build docs
          command: bundle exec fastlane generate_docs

  android:
    executor:
      name: rn/linux_android
      # These are the default options in the orb, but with more memory because we were getting out of memory errors
      gradle_options: >-
        -Xmx4096m -Dorg.gradle.daemon=false
        -Dorg.gradle.jvmargs="-XX:+UnlockExperimentalVMOptions
        -XX:+HeapDumpOnOutOfMemoryError"
        -Dorg.gradle.jvmargs="-Xmx4096m -XX:+UnlockExperimentalVMOptions -XX:+UseContainerSupport"
      resource_class: xlarge
      build_image_version: latest
    steps:
      - checkout
      - install-dependencies:
          machine: "unix"
      - rn/android_build:
          project_path: examples/purchaseTesterTypescript/android
  ios:
    <<: *base-mac-job
    steps:
      - checkout
      - rn/ios_simulator_start:
          device: iPhone 15
      - install-ruby-3-2-0
      - install-dependencies-ios-build
      - revenuecat/trust-github-key
      - revenuecat/setup-git-credentials
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v2
      - run:
          name: Pod Install
          command: bundle exec fastlane pod_install_and_update_if_needed
      - run:
          name: Build iOS
          # Using command directly instead of rn/ios_build to avoid the using xcpretty which is not installed by default.
          command: |
            export RCT_NO_LAUNCH_PACKAGER=true \
            && xcodebuild -workspace examples/purchaseTesterTypescript/ios/PurchaseTester.xcworkspace -destination 'platform=iOS Simulator,name=iPhone 15' -scheme 'PurchaseTester' -parallelizeTargets -configuration Release -derivedDataPath ~/DerivedData  -UseModernBuildSystem=YES

  make-release:
    description: "Publishes the new version and creates a github release"
    <<: *base-mac-job
    steps:
      - checkout
      - install-ruby-3-2-0
      - install-dependencies:
          machine: "macos"
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v2
      - revenuecat/trust-github-key
      - copy-npm-rc
      - run:
          name: release
          command: bundle exec fastlane release

  run-maestro-e2e-tests:
    <<: *base-mac-job-xcode-16
    steps:
      - checkout
      - install-ruby-3-2-0
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v2
      - revenuecat/install-maestro
      - run:
          name: Boot iOS Simulator
          command: |
            xcrun simctl boot "iPhone 16 Pro" || true
            xcrun simctl bootstatus "iPhone 16 Pro" -b
      - run:
          name: Run Maestro E2E Tests
          command: bundle exec fastlane run_maestro_e2e_tests
          no_output_timeout: 15m
      - store_test_results:
          path: fastlane/test_output
      - store_artifacts:
          path: fastlane/test_output

  update-hybrid-common-versions:
    description: "Creates a PR updating purchases-hybrid-common to latest release"
    <<: *base-mac-job
    steps:
      - checkout
      - install-ruby-3-2-0
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v2
      - revenuecat/trust-github-key
      - revenuecat/setup-git-credentials
      - run:
          name: Updating to next version of phc
          command: |
            bundle exec fastlane update_hybrid_common \
            version:<< pipeline.parameters.version >> \
            open_pr:true \
            automatic_release:<< pipeline.parameters.automatic >>
workflows:
  build-test-hold-deploy:
    when:
      and:
      - not:
          equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
      - not:
          equal: [ bump, << pipeline.parameters.action >> ]
    jobs:
      # Testing phase - runs on all branches
      - analyse_js
      - android
      - ios
      - expo_android
      - expo_ios
      - expo_web

      # Hold and deploy phase - only on release branches
      - hold:
          type: approval
          requires:
            - analyse_js
            - android
            - ios
          <<: *release-branches
      - revenuecat/tag-current-branch:
          requires:
            - hold
          <<: *release-branches
      - make-release:
          <<: *release-tags
      - docs-deploy:
          <<: *release-tags
          requires:
            - make-release

  danger:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - revenuecat/danger

  weekly-run-workflow:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "release-train", << pipeline.schedule.name >> ]
    jobs:
      - revenuecat/automatic-bump

  manual-trigger-bump:
    when:
      equal: [ bump, << pipeline.parameters.action >> ]
    jobs:
      - revenuecat/automatic-bump

  maestro-e2e-tests:
    when:
      or:
        - equal: ["maestro_e2e_tests", << pipeline.schedule.name >>]
    jobs:
      - run-maestro-e2e-tests:
          context:
            - maestro-e2e-tests

  update-hybrid-common-versions:
     when:
       equal: [ upgrade-hybrid-common, << pipeline.parameters.action >> ]
     jobs:
       - update-hybrid-common-versions
